.container_app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgrey;
    border: 2px solid black;
}

.error{
    color: red;
}